title = "List"
url = "/berita"
layout = "default"
is_hidden = 0
show_menu = 0

[newsPosts]
[newsCategories]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = "beranda"
categoryPage = "beranda"
==
<?php
use Pda\Peraturan\Models\Peraturan;
use Indikator\News\Models\Posts;

    function onStart() {
        $this['all'] = Posts::where('status', 1)->orderBy('published_at', 'desc')->paginate(5);
        
    }
?>
==
<!-- Page title -->
    <div class="page-title parallax parallax1">
        <div class="section-overlay">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">                    
                    <div class="page-title-heading">
                        <h1 class="title">Berita</h1>
                    </div><!-- /.page-title-captions -->
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="{{ url('/') }}">Beranda</a></li>
                            <li> - </li>                            
                            <li><a href="{{ 'berita/listing'|page }}">Berita</a></li>
                        </ul>                   
                    </div><!-- /.breadcrumbs -->   
                </div><!-- /.col-md-12 -->  
            </div><!-- /.row -->  
        </div><!-- /.container -->                      
    </div><!-- /.page-title --> 

    <!-- Blog posts -->
    <section class="main-content blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="post-wrap">
                        {% component 'newsPosts' %}
                    </div><!-- /.post-wrap --> 

                    <div class="blog-pagination">
                        {{ all.render|raw }}<!-- /.flat-pagination -->
                    </div><!-- /.blog-pagination -->                  
                </div><!-- /.col-lg-9 -->    
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="widget widget-recent-news">
                            <h5 class="widget-title">Berita Terkini</h5>
                            <ul class="popular-news clearfix">
                                {% for post in all|slice(0,5) %}
                                    <li>
                                        <div class="text">
                                            <h6>
                                                <a href="{{ 'produk_hukum/detail'|page({ slug: post.slug }) }}">
                                                {{ post.title }}
                                                </a>
                                            </h6>  
                                            <p>{{ post.published_at|date('F j, Y') }}</p>                                     
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul><!-- /.popular-news -->
                        </div><!-- /.widget-popular-news -->
                        <div class="widget widget_categories">
                            <h5 class="widget-title">Kategori</h5>
                            <ul>
                                {% for category in categories %}
                                <li><a href="{{ 'berita/category'|page({ slug: category.slug }) }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!-- /.widget-categories -->
                    </div><!-- /.sidebar -->
                </div><!-- /.col-md-3 -->            
            </div><!-- /.row -->           
        </div><!-- /.container -->   
    </section>