title = "JDIH LAPAN"
url = "/"
layout = "default"
is_hidden = 0
show_menu = 0
robot_index = "index"
robot_follow = "follow"

[FaqAsk]

[searchForm]

[newsSubscribe]

[newsPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
postPage = "berita/detail"

[session]
security = "all"

[account]
redirect = "layanan-advokasi"
paramCode = "code"
forceSecure = 0
==
<?php
use Pda\Peraturan\Models\Peraturan;
    use Pda\Peraturan\Models\Jenis;
    use Pda\Peraturan\Models\Berita;

	function onStart() {
		
        $peraturan = Peraturan::where('deleted_at', NULL)->orderBy('tahun', 'desc')->get();

        $this['jenis'] = Jenis::all();

        $years = [];
        $totalList = [];

        foreach ($peraturan as $aturan) {
            $years[] = $aturan->tahun;
        }

        foreach ($this['jenis'] as $jns) {
            $totalList[] = Db::table('pda_peraturan_hukum')->where('jenis_id',$jns->id)->count();
        }

        $years = array_unique($years);
        rsort($years);


        $this['peraturan'] = $peraturan;
        $this['years'] = $years;
        $this['totalList'] = $totalList;
    }
?>
==
<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
                <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                    <div class="slotholder"></div>
                    <ul><!-- SLIDE  -->
                
                        <!-- SLIDE 1 -->
                        <li data-index="rs-3050" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">                        

                            <!-- MAIN IMAGE -->
                            <img src="{{ url('/') }}/themes/jdih/assets/listany/images/slides/1.jpg"  alt=""  data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 12 -->
                            <div class="tp-caption title-slide" 
                                id="slide-3050-layer-1" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['-128','-128','-128','-50']" 
                                data-fontsize="['65','65','45','30']"
                                data-lineheight="['65','65','45','35']"
                                data-fontweight="['600','600','600','600']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                     
                                data-type="text" 
                                data-responsive_offset="on"                             

                                data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

                                data-textAlign="['center','center','center','center']"
                                data-paddingtop="[10,10,10,10]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0"
                                data-paddingleft="[0,0,0,0]"

                                style="z-index: 16; white-space: nowrap;">JDIH LAPAN
                            </div>

                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption sub-title" 
                                id="slide-3050-layer-4" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['-32','-32','-32','20']"
                                data-fontsize="['20',20','20','14']" 
                                data-lineheight="['35','35','35','20']"
                                data-fontweight="['300','300','300','300']"
                                data-width="['1200','660','660','350']"
                                data-height="none"
                                data-whitespace="['nowrap',normal','normal','normal']" 
                     
                                data-type="text" 
                                data-responsive_offset="on" 

                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                data-textAlign="['center','center','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"

                                style="z-index: 17; white-space: nowrap;">Jaringan Dokumentasi dan Informasi Hukum Lembaga Penerbangan dan Antariksa Nasional
                            </div>
                        </li>

                        <!-- SLIDE 2 -->
                       <li data-index="rs-3051" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">                        

                            <!-- MAIN IMAGE -->
                            <img src="{{ url('/') }}/themes/jdih/assets/listany/images/slides/1.jpg"  alt=""  data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 12 -->
                            <div class="tp-caption title-slide" 
                                id="slide-3051-layer-1" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['-128','-128','-128','-50']" 
                                data-fontsize="['65','65','45','30']"
                                data-lineheight="['65','65','45','35']"
                                data-fontweight="['600','600','600','600']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                     
                                data-type="text" 
                                data-responsive_offset="on"                             

                                data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'

                                data-textAlign="['center','center','center','center']"
                                data-paddingtop="[10,10,10,10]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0"
                                data-paddingleft="[0,0,0,0]"

                                style="z-index: 16; white-space: nowrap;">JDIH LAPAN
                            </div>

                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption sub-title" 
                                id="slide-3051-layer-4" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['-32','-32','-32','20']"
                                data-fontsize="['20',20','20','14']" 
                                data-lineheight="['35','35','35','20']"
                                data-fontweight="['300','300','300','300']"
                                data-width="['1200','660','660','300']"
                                data-height="none"
                                data-whitespace="['nowrap',normal','normal','normal']"
                     
                                data-type="text" 
                                data-responsive_offset="on" 

                                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                data-textAlign="['center','center','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"

                                style="z-index: 17; white-space: nowrap;">Wadah pendayagunaan bersama atas dokumen hukum secara tertib, terpadu dan berkesinambungan
                            </div>
                        </li>                       
                    </ul>
                </div>
    </div><!-- END REVOLUTION SLIDER -->

    <div class="container">
        <div class="wrap-form">
            <div class="flat-formsearch ">
            <!-- <form novalidate="" class="search-form form-filter clearfix" id="searchform" method="post" action="#"> -->
            	<form novalidate="" class="search-form form-filter clearfix" id="main-contact-form" action="{{ 'peraturan/listing' | page }}" method="get">
				    <span class="input-question">
				        <input type="text" placeholder="Nomor" name="nomor">
				    </span>
				    <span class="input-question">
				        <input type="text" placeholder="Tentang" name="tentang">
				    </span>
				    <!-- <span class="input-location">
				        <input type="text" placeholder="Location" name="location" id="location">
				        <span class="filter">
				            <input id="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5"/>
				        </span>
				    </span> --> 
				    <span class="select">
				        <select name="tahun">
				            <option value="">Tahun</option>
				            {% for year in years %}
				            	<option value="{{ year }}">{{ year }}</option>
				            {% endfor %}
				        </select>
				    </span>                        
				    <span class="form-submit text-right">                 
				        <button type="submit" class="flat-button">Search <i class="ion-ios-search-strong"></i></button>
				    </span>
				</form>
            </div>
        </div>
    </div>
	<section class="flat-row section-client">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section text-center">
                        <h1 class="title">Produk Hukum</h1>
                        <div class="sub-title">
                            Jenis Peraturan
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="flat-client" data-item="4" data-nav="true" data-dots="false" data-auto="false">
                        {% set i = 0 %}
                        {% for jns in jenis %}
	                        <div class="client">
	                            <div class="featured-client">
	                                <img src="{{ url('/') }}/themes/jdih/assets/listany/images/clients/1.jpg" alt="image">
	                            </div>
	                            <div class="content-client clearfix">
	                                <div class="icon">
	                                    <img src="{{ jns.logo.path }}" alt="image" style="width: 59px; height: 55px;">
	                                </div>
	                                <div class="text">
	                                	<input type="hidden" name="jenis" value="Undang-Undang" />
	                                    <h6><a href="{{ 'peraturan/listing'|page({ slug: jns.nama }) }}" title="">{{ jns.nama }}</a></h6>
	                                    <p>{{ totalList[i] }} Listing</p>
	                                </div>
	                            </div>
	                        </div>
                        {% set i = i+1 %}
                        {% endfor %}
                    </div><!-- /.flat-client -->
                </div>
            </div>
        </div>
    </section>

    <section class="flat-row blog-shortcode">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section style2">
                        <h1 class="title"><a href="{{ 'berita/listing'|page }}">Peraturan Terkini</a></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for aturan in peraturan|slice(0, 3) %}
                    <div class="col-lg-4 col-sm-6">
                        <article class="post clearfix">
                            <!-- <div class="featured-post">
                                <a href="{{ 'berita/detail'|page({ slug: news.slug }) }}"><img src="{{ news.image|media }}" alt="img"></a>
                                <ul class="post-comment">
                                    <li class="date">
                                        {{ news.published_at| date('j') }}        
                                    </li>
                                    <li class="month">
                                        {{ news.published_at| date('F') }}
                                    </li>
                                </ul>
                            </div> --><!-- /.feature-post -->
                            <div class="content-post">     
                                
                                <h3 class="title-post"><a href="{{ 'peraturan/detail'|page({ peraturan_id: aturan.id }) }}">
                                    {{ aturan.tentang }}
                                    </a></h3>                        
                                <!-- <p>{{ str_words(news.content|raw, 10) }}</p> -->
                                <ul class="meta-data clearfix">
                                    <li class="category">
                                        Kategori: <a href="{{ 'peraturan/listing'|page({ slug: aturan.jenis_.nama }) }}">{{ aturan.jenis_.nama }}</a>
                                    </li>
                                    <!-- <li> by: <a href="#">admin</a></li> -->
                                </ul><!-- /.meta-post -->
                                <!-- <div class="more-link">
                                    <a href="{{ 'berita/detail'|page({ slug: news.slug }) }}">Read More</a>
                                </div> -->
                            </div><!-- /.content-post -->
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section class="flat-row v1 bg-theme">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="title-section">
                        <h1 class="title">Surat Kabar</h1>
                        <div class="sub-title">Dapatkan informasi terkini dari JDIH LAPAN</div>
                    </div>
                    {% component 'newsSubscribe' %}
                </div>
                <div class="col-lg-2">
                    <div class="flat-counter text-center">                            
                        <div class="content-counter">
                            <div class="icon-count">
                                <i class="ion-ios-book"></i>
                            </div>
                            <div class="name-count">Peraturan</div>
                            <div class="numb-count" data-to="{{ peraturan.count() }}" data-speed="2000" data-waypoint-active="yes">{{ peraturan.count() }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="flat-counter text-center">                            
                        <div class="content-counter">
                            <div class="icon-count">
                                <i class="ion-pricetags"></i>
                            </div>
                            <div class="name-count">Kategori</div>
                            <div class="numb-count" data-to="{{ jenis.count() }}" data-speed="2000" data-waypoint-active="yes"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="flat-counter text-center">                            
                        <div class="content-counter">
                            <div class="icon-count">
                                <i class="ion-ios-people"></i>
                            </div>
                            <div class="name-count">Pengunjung</div>
                            <div class="numb-count" data-to="{% partial 'visitor' %}" data-speed="2000" data-waypoint-active="yes">{% partial 'visitor' %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <div class="modal fade flat-popupform" id="popup_login">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body text-center clearfix">
                        {% component 'account' %}
                        <!-- <form class="form-login form-listing" action="#" method="post">
                            <h3 class="title-formlogin">Log in</h3>
                            <span class="input-login icon-form"><input type="text" placeholder="Your Name*" name="email" required="required"><i class="fa fa-user"></i></span>
                            <span class="input-login icon-form"><input type="text" placeholder="Password*" name="password" required="required"><i class="fa fa-lock"></i></span>
                            <div class="flat-fogot clearfix">
                                <label class="float-left">
                                   <span class="input-check">
                                        <input type="checkbox" id="rem" name="check" value="0" checked="">
                                        <label for="rem" class="remember">Remember me</label> 
                                    </span>
                                </label>
                                <label class="float-right link-register">
                                    <a href="#">Lost your password?</a>
                                </label>
                            </div>
                            <span class="wrap-button">
                                <button type="button" id="login-button" class=" login-btn effect-button" title="log in">LOG IN</button>
                            </span>
                        </form> -->
                    </div>
                </div>
            </div>
    </div>